allow init firmware_file:filesystem getattr;
allow init proc_boot_reason:file r_file_perms;
allow init property_socket:sock_file write;

# Allow init to bind mount loader config for media swcodec
allow init system_file:file mounton;

# Allow init to bind mount vendor file
allow init vendor_file:file mounton;

# Allow init to bind mount vendor configs file
allow init vendor_configs_file:file mounton;

# Transitions to seclabel processes in init.rc
domain_auto_trans(init, vendor_charger_exec, vendor_charger)
