allow mm-qcamerad camera_data_file:dir w_dir_perms;
allow mm-qcamerad camera_data_file:file create_file_perms;
allow mm-qcamerad camera_data_file:sock_file { create unlink };
allow mm-qcamerad system_server:unix_stream_socket rw_socket_perms;

allow mm-qcamerad sensorservice_service:service_manager find;

allow mm-qcamerad sysfs:file r_file_perms;
allow mm-qcamerad sysfs_graphics:file r_file_perms;

# Allow to read camera prop
get_prop(mm-qcamerad, camera_prop)

binder_call(mm-qcamerad, servicemanager)
binder_use(mm-qcamerad)
