allow system_server vendor_keylayout_file:dir r_dir_perms;
allow system_server vendor_keylayout_file:file r_file_perms;
allow system_server vendor_idc_file:dir r_dir_perms;
allow system_server vendor_idc_file:file r_file_perms;
allow system_server keylayout_file_sysfs:file { open read getattr };
r_dir_file(system_server, keylayout_file_sysfs)
